@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$mainColor: #6200ee;
h2{
    color: $mainColor;
}
%oneMessage{
    margin-bottom: 20px;
    .txt{
        img{                           
            @extend %img;
        }                                  
        .details{
           
            margin-left: 15px;
            p{
                padding: 5px 10px 5px 12px;
                border-radius: 3px;
                margin: 0;
                font-size: 14px;
            }
            .date-time{
                color: #747474;
                display: block;
                font-size: 12px;
                margin: 8px 0 0;
            }
        }
        .recieved-msg{
            background-color: #ebebeb;
            color: #646464;
        }
        .sent-msg{
            color: #fff;
            background-color: #007bff;
        }
    }
}
%online{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #05cf5b;
}
%inputFile{
    .prof-img{
    img{
        border-radius: 100px;
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        margin: 20px 0 15px;
        cursor: pointer;
        display: block;
        background: #f0f0f0;
        margin: 0 auto;
    }
    a{
        color: #fff;
        margin-top: -20px;
        display: inline-block;
        font-weight: 700;
    }
    .input--file {
        position: relative;
        color: #7f7f7f;
        left: 180px;
        top: -50px;
        position: relative;
        color: #7f7f7f;   
        width: 40px;
    
    span{      
        background-color: #fff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        display: block;
        padding-top: 8px;
    }
      }
      
      .input--file input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 40px;
      }
    }
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9F9;
}
.container-fluid{
    padding-left: 0;
    // padding-right: 0;
}
.main-left{
    background-color: #6200ee;  
    // width: 260px; 
    color: #fff;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
    text-transform: capitalize;    
    
    img{
        border-radius: 100px;
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        margin: 20px 0 15px;
        cursor: pointer;
        display: block;
        background: #f0f0f0;
        margin: 0 auto;
        @media only screen and (max-width: 576px) {
            width: 30px;
            height: 30px;
        }
    }
    a{
        color: #fff;
        margin-top: -20px;
        display: inline-block;
        font-weight: 700;
        @media only screen and (max-width: 576px) {
            span{
                display: none;
            }
           
        }
    }
    .input--file {
        position: relative;
        color: #7f7f7f;
        left: 180px;
        top: -50px;
        position: relative;
        color: #7f7f7f;   
        width: 40px;
    
    span{      
        background-color: #fff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        display: block;
        padding-top: 8px;
    }
      }
      
      .input--file input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 40px;
      }
      
    ul{
        // padding-top: 20px;
          margin-top: 40px;
 
        li{
            margin-bottom: 40px;
            text-align: left;
            margin-left: 30%;
        }
        li.active a{
            color: #d4c1c1;
        }
        i{
            margin-right: 10px;
            font-size: 25px;
        }
    }
}
.modal#invite{
    padding-top: 20px;
    h4{
        margin-top: 20px;
    }
    ul{
        li{
            display: inline-block;
        }
    }
    p.link{
        border: 1px solid #ddd;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
.main-right{
    padding: 10px;
    // width: calc(100% - 400px);
    padding-left: 40px;
    float: left;
    h2{
        padding-bottom: 10px;
    }
    .main-top{
        form{
            width: 300px;
            float: left;
        }
        a{
            float: right;
            color: $mainColor;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 600;
            i{
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                background-color: $mainColor;
                border-radius: 50%;
                text-align: center;
                margin-right: 10px;
            }
        }
    }
    .nav-tabs{
        border-bottom: 2px solid #dadbde; 
        text-transform: capitalize;
    }   
    .nav-tabs .nav-link{
        color: #9AA2A7;
        padding: 10px 50px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        border-color: transparent;
        border-bottom: 4px solid #00c2af;
        color: #00c2af;
        font-weight: 700;
        background-color: transparent;
    }
    .buttons{
        margin-top: 20px;
        .dropdown{
            display: inline-block;
        }
        .btn{
            text-transform: capitalize;
        }
        .btn-primary{
            background-color: transparent;
            color: #007bff;
        }
        .btn-default{
            color:#A0A0A0;
        }
        i{
            margin-right: 10px;
        }
        .dropdown-menu{
            padding: 10px 30px;
            .lang{
                border: 1px solid #007bff;
                height: 35px;
                margin-top: 10px;
                cursor: pointer;
                border-radius: 5px;
                text-transform: capitalize;
                padding:5px;
                padding-bottom: 24px;
                padding-left: 10px;
                i{
                    color: #007bff;
                    margin-right: 0;
                }
                img{
                    width: 35px;
                    height: 24px;;
                }
                span.check{
                    float: right;
                }
            }
            .right-buttons{
                margin-top: 20px;
                float: right;
            }
        }
    }    
    
    
    .person{
        padding: 10px 10px 5px;
        cursor: pointer;
        margin-bottom: 16px;
        background: #fff;
        box-shadow: 0 2px 2px rgba(0,0,0,.1);
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        &:hover{
            -webkit-transform: scale(1.06);
            -o-transform: scale(1.06);
            -moz-transform: scale(1.06);
            transform: scale(1.06);
        }
        .image{
            float: left;
            overflow: hidden;
            img{
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }
        }
        .text{
            float: left;
            width: calc(100% - 130px);           
            color: #9AA2A7;
            padding: 10px;           
            .top{
                
                h4{
                    text-transform: capitalize;
                    display: inline;
                    font-weight: 700;
                    // color: #404a5e;
                    font-size: 16px;
                }
                span{
                    color:#acb1bc;
                    margin: 0 15px;
                }
                span.circle{
                   @extend %online;
                }                
            }
            .disc{
                font-size: 12px;
                height: 70px;
                color: #9AA2A7;
                display: table-cell;
                vertical-align: middle;
                p{
                    margin-bottom: 0;
                }
            }
            .language{
                div{
                    float: left;
                    margin-right: 30px;
                    p{
                        text-transform: uppercase;
                        font-size: 10px;
                        margin-bottom: 3px;
                    }
                    img{
                        width: 40px;
                        height: 26px;
                    }
                }
            }
        }
    }
}
.content{
    padding-top: 30px;
    @extend %inputFile;
    .group-info{
        .prof-img{
            width: 300px;
            float: left;
            img{
                margin: 0;
            }
            .input--file{
                left: 80px;
            }            
        }
        form{
            float: right;
            margin-top: 40px;
            margin-right: 40px;
        }
    }
        .members{
            h4{
                color: $mainColor;
            }
            padding-top: 20px;
            padding-bottom: 20px;
            max-height: 100vh;
            overflow: auto;
            .image{
                // margin-bottom: 20px;
                margin-top: 20px;
            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            span.circle{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #05cf5b;
            }     
            span.name{
                font-size: 20px;
            }
            i.fa-times{
                cursor: pointer;
                margin-left: 20px;
            }
            .buttons{
                margin-top: 20px;
                span{
                    margin-bottom: 20px;
                    color: $mainColor;
                    display: block;
                }
                i.fa-plus{
                    width: 30px;
                    height:  30px;
                    line-height: 30px;
                    background-color: $mainColor;
                    color: #fff;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .btn-primary{
                    background-color: $mainColor;
                    border-color: $mainColor;
                    margin-top: 30px;
                }
                .text-danger{
                    span{
                        color: #dc3545;
                    }
                }
            }
            p{
                display: inline;
                margin-right: 20px;
            }
         }       
    }
.clear{
    clear: both;
}
.online,.messages{
    // width: 100px;
    float: left;
    text-align: center;   
    .online-friend{
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: 100vh;
        overflow: auto;
        .image{
            margin-bottom: 20px;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        span.circle{
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #05cf5b;
        }     
    }
}
.col-sm-9.no-padding{
    padding-right: 0;
    padding-left: 0;
}
.inbox{
    .online-friend{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        max-height: 100vh;
        overflow: auto;
        &:nth-child(odd){
            background-color: #bb86fc;
        }
        .image{
            margin-bottom: 20px;
            width: 100px;
            float: left;
        }
        .username{
            float: left;
            width: calc(100% - 100px);
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        span.circle{
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #05cf5b;
        }    
    } 
    span.seen{
        color: #007bff;
    }
}
/* start chat page */
%img{
    width: 40px;
     height: 40px;
     border-radius: 50%;
     float: left;
}
.chat{
   .main-right{
    width: calc(100% - 500px);
   }
   form.typing.chat{
       margin-top: 20px;
       width: calc(100% - 600px);
       
   }
   form.typing{
    position: fixed;
    bottom: 0;
    width: calc(100% - 630px);
    .emoji-picker-container{
        width: calc(100% - 100px);
        float: left;
    }
    .icons{
        margin-top: 10px;
        i{
        color: $mainColor;
        margin-left: 10px;
        display: inline-block;
        font-size: 24px;
        }
    }
    .input-group-text{
        background-color: #007bff !important;
        color: #fff;
    }
    .form-control{
        padding-left: 17px !important;
        border-radius: 25px;
        line-height: 22px;
    }
    .emoji-picker-icon{
        right: 17px;
        top: 8px;
    }
   }
    form{
        margin-bottom: 0;        
       .input-group{           
            .input-group-prepend{
                position: absolute;
                left: 20px;
                z-index: 9;
                top: 5px;
               .input-group-text{
                   border: 0;
                   color: #8d8d8e;
               }
            }
            .form-control{
                border-radius: 0;   
                padding-left: 60px;            
            }
            .input-group-text{
                background-color: transparent;
            }
        }
    }
    .nav{        
        border-right: 1px solid #c4c4c4;
    }
    .overflow,.content{
        height: 100vh;
        overflow-y: scroll;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: #333;
        background-color: #ebebeb;
        
    }
        .nav-pills{
            .nav-link{
                background-color: #f1f1f1;
                padding: 18px 26px 10px;
                border-radius: 0;
                border-bottom: 1px solid #c4c4c4;
            }
            .person{
                img{                  
                    @extend %img;
                }
                .text{
                    float: left;
                    width: calc(100% - 40px );
                    padding: 0 0 0 15px;
                    h4{
                        text-transform: capitalize;
                        font-size: 15px;
                        color: #615f5f;
                        font-weight: 700;
                        margin: 0 0 8px 0;
                        span{
                            float: right;
                        }
                    }
                    p{
                        font-size: 14px;
                        color: #989898;
                        margin: auto;
                    }
                }
                .right{
                    float: right;
                    font-weight: 600;
                }
            }
        }
        .content{
            .messages{
                margin-right: 30px;  
                margin-top: 30px;  
                padding-bottom: 40px;
                .recieved  .details{
                    float: left;     
                    width: 100% - 60%;                    
                             
                } 
                .sent .details {
                    float: right;     
                    width: 100% - 40%;                
                }     
                .one-message{                    
                   @extend %oneMessage;
                }
            }
            .image-attachment{
                border: 1px solid #ddd;
                width:200px;
                height:200px;              
                float: left;
                margin-left: 20px;
                img{
                    width:200px !important;
                    height:200px !important;
                    border-radius: 0 !important;
                }
            }
            .emoji{
                overflow: hidden;
                margin-left: 20px;
                width: 60px;
                height: 60px;
                padding: 10px;
                float: left;
                background-color: #bb86fc;
            }
        }
        p.purple{
            color: $mainColor;
            text-align: left;
            span{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border-color: $mainColor;
                background-color: $mainColor;
                display: inline-block;
            }
        }
    }
    #displayImage{
        img{
            width: 100%;
            height: 100%;
        }
        .btn.btn-primary{
            background-color: $mainColor;
            border-color: $mainColor;
        }
    }
/* End chat page */


/* Star chat box    */
.chat-area{
    position: fixed;
    bottom: 0;
    height:385px;
}
    .chat-box{
        width: 330px;
        height:385px;
        border: 1px solid #ddd;
        background-color: #fff;
        float: right;
        // position: fixed;
        // bottom: 0;
        // right: 150px;
        z-index: 9;
        .chat-header{
            padding: 5px;
            background-color: #007bff;
            overflow: hidden;
            color: #fff;
            cursor: pointer;
            p{
                margin-bottom: 0;               
            }
            p.left{
                float: left;                
            }
            p.right{
                float: right;  
                font-weight: 600;   
                span.minmize{
                    margin-right: 10px;
                    cursor: pointer;
                }  
                span.close-chat{
                    margin-right: 10px;
                    cursor: pointer;
                }           
            }
        }   
        .chat{
            height: 330px;
            overflow: auto;
            .one-message{                    
                @extend %oneMessage;
                .txt .details{
                    margin-right: 15px;
                }
             }
            form{
                position: fixed;
                bottom: 0;
                input{
                 width: 330px;
                 padding-left: 20px;
                 padding-right: 20px;
                }
            }
        } 
    }
    .clear{
        clear: both;
    }
/*  End chat box   */
.top{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
h2.title{
    float: left;
    width: 40%;
}
.single-chat{
    width: 40%;
    float: left;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 10px;
    }
    span.circle{
        @extend %online;
    }
    span.name{
        color: $mainColor;
        font-weight: 700;
    }
}
.call{
    float: left;
    color: $mainColor;
    font-size: 24px;
    cursor: pointer;
    i.fa-phone{
        -webkit-transform: scaleX(-1);
         transform: scaleX(-1);
         margin-right: 10px;
    }
}
}
.settings{
    margin-top: 20px;
    i.fa-pencil{
        cursor: pointer;
    }
    form{
        .form-control{
            width: 90%;
            display: inline-block;
        }
        i{
            float: right;
            margin-top: 10px;
            color: $mainColor;
        }
        .btn{
            background-color: $mainColor;
            border-color: $mainColor;
        }
    }
}
.emoji-menu{
    top: -229px;
}