@import url("https://fonts.googleapis.com/css?family=Open+Sans");
h2 {
  color: #6200ee; }

.chat .content .messages .one-message, .chat-box .chat .one-message {
  margin-bottom: 20px; }
  .chat .content .messages .one-message .txt .details, .chat-box .chat .one-message .txt .details {
    margin-left: 15px; }
    .chat .content .messages .one-message .txt .details p, .chat-box .chat .one-message .txt .details p {
      padding: 5px 10px 5px 12px;
      border-radius: 3px;
      margin: 0;
      font-size: 14px; }
    .chat .content .messages .one-message .txt .details .date-time, .chat-box .chat .one-message .txt .details .date-time {
      color: #747474;
      display: block;
      font-size: 12px;
      margin: 8px 0 0; }
  .chat .content .messages .one-message .txt .recieved-msg, .chat-box .chat .one-message .txt .recieved-msg {
    background-color: #ebebeb;
    color: #646464; }
  .chat .content .messages .one-message .txt .sent-msg, .chat-box .chat .one-message .txt .sent-msg {
    color: #fff;
    background-color: #007bff; }

.main-right .person .text .top span.circle, .top .single-chat span.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #05cf5b; }

.content .prof-img img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  margin: 20px 0 15px;
  cursor: pointer;
  display: block;
  background: #f0f0f0;
  margin: 0 auto; }
.content .prof-img a {
  color: #fff;
  margin-top: -20px;
  display: inline-block;
  font-weight: 700; }
.content .prof-img .input--file {
  position: relative;
  color: #7f7f7f;
  left: 180px;
  top: -50px;
  position: relative;
  color: #7f7f7f;
  width: 40px; }
  .content .prof-img .input--file span {
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    display: block;
    padding-top: 8px; }
.content .prof-img .input--file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 40px; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9; }

.container-fluid {
  padding-left: 0; }

.main-left {
  background-color: #6200ee;
  color: #fff;
  height: 100vh;
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize; }
  .main-left img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    margin: 20px 0 15px;
    cursor: pointer;
    display: block;
    background: #f0f0f0;
    margin: 0 auto; }
    @media only screen and (max-width: 576px) {
      .main-left img {
        width: 30px;
        height: 30px; } }
  .main-left a {
    color: #fff;
    margin-top: -20px;
    display: inline-block;
    font-weight: 700; }
    @media only screen and (max-width: 576px) {
      .main-left a span {
        display: none; } }
  .main-left .input--file {
    position: relative;
    color: #7f7f7f;
    left: 180px;
    top: -50px;
    position: relative;
    color: #7f7f7f;
    width: 40px; }
    .main-left .input--file span {
      background-color: #fff;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      display: block;
      padding-top: 8px; }
  .main-left .input--file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 40px; }
  .main-left ul {
    margin-top: 40px; }
    .main-left ul li {
      margin-bottom: 40px;
      text-align: left;
      margin-left: 30%; }
    .main-left ul li.active a {
      color: #d4c1c1; }
    .main-left ul i {
      margin-right: 10px;
      font-size: 25px; }

.modal#invite {
  padding-top: 20px; }
  .modal#invite h4 {
    margin-top: 20px; }
  .modal#invite ul li {
    display: inline-block; }
  .modal#invite p.link {
    border: 1px solid #ddd;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px; }

.main-right {
  padding: 10px;
  padding-left: 40px;
  float: left; }
  .main-right h2 {
    padding-bottom: 10px; }
  .main-right .main-top form {
    width: 300px;
    float: left; }
  .main-right .main-top a {
    float: right;
    color: #6200ee;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600; }
    .main-right .main-top a i {
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #fff;
      background-color: #6200ee;
      border-radius: 50%;
      text-align: center;
      margin-right: 10px; }
  .main-right .nav-tabs {
    border-bottom: 2px solid #dadbde;
    text-transform: capitalize; }
  .main-right .nav-tabs .nav-link {
    color: #9AA2A7;
    padding: 10px 50px; }
  .main-right .nav-tabs .nav-item.show .nav-link, .main-right .nav-tabs .nav-link.active {
    border-color: transparent;
    border-bottom: 4px solid #00c2af;
    color: #00c2af;
    font-weight: 700;
    background-color: transparent; }
  .main-right .buttons {
    margin-top: 20px; }
    .main-right .buttons .dropdown {
      display: inline-block; }
    .main-right .buttons .btn {
      text-transform: capitalize; }
    .main-right .buttons .btn-primary {
      background-color: transparent;
      color: #007bff; }
    .main-right .buttons .btn-default {
      color: #A0A0A0; }
    .main-right .buttons i {
      margin-right: 10px; }
    .main-right .buttons .dropdown-menu {
      padding: 10px 30px; }
      .main-right .buttons .dropdown-menu .lang {
        border: 1px solid #007bff;
        height: 35px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
        text-transform: capitalize;
        padding: 5px;
        padding-bottom: 24px;
        padding-left: 10px; }
        .main-right .buttons .dropdown-menu .lang i {
          color: #007bff;
          margin-right: 0; }
        .main-right .buttons .dropdown-menu .lang img {
          width: 35px;
          height: 24px; }
        .main-right .buttons .dropdown-menu .lang span.check {
          float: right; }
      .main-right .buttons .dropdown-menu .right-buttons {
        margin-top: 20px;
        float: right; }
  .main-right .person {
    padding: 10px 10px 5px;
    cursor: pointer;
    margin-bottom: 16px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    overflow: hidden; }
    .main-right .person:hover {
      -webkit-transform: scale(1.06);
      -o-transform: scale(1.06);
      -moz-transform: scale(1.06);
      transform: scale(1.06); }
    .main-right .person .image {
      float: left;
      overflow: hidden; }
      .main-right .person .image img {
        width: 130px;
        height: 130px;
        border-radius: 50%; }
    .main-right .person .text {
      float: left;
      width: calc(100% - 130px);
      color: #9AA2A7;
      padding: 10px; }
      .main-right .person .text .top h4 {
        text-transform: capitalize;
        display: inline;
        font-weight: 700;
        font-size: 16px; }
      .main-right .person .text .top span {
        color: #acb1bc;
        margin: 0 15px; }
      .main-right .person .text .disc {
        font-size: 12px;
        height: 70px;
        color: #9AA2A7;
        display: table-cell;
        vertical-align: middle; }
        .main-right .person .text .disc p {
          margin-bottom: 0; }
      .main-right .person .text .language div {
        float: left;
        margin-right: 30px; }
        .main-right .person .text .language div p {
          text-transform: uppercase;
          font-size: 10px;
          margin-bottom: 3px; }
        .main-right .person .text .language div img {
          width: 40px;
          height: 26px; }

.content {
  padding-top: 30px; }
  .content .group-info .prof-img {
    width: 300px;
    float: left; }
    .content .group-info .prof-img img {
      margin: 0; }
    .content .group-info .prof-img .input--file {
      left: 80px; }
  .content .group-info form {
    float: right;
    margin-top: 40px;
    margin-right: 40px; }
  .content .members {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 100vh;
    overflow: auto; }
    .content .members h4 {
      color: #6200ee; }
    .content .members .image {
      margin-top: 20px; }
    .content .members img {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
    .content .members span.circle {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #05cf5b; }
    .content .members span.name {
      font-size: 20px; }
    .content .members i.fa-times {
      cursor: pointer;
      margin-left: 20px; }
    .content .members .buttons {
      margin-top: 20px; }
      .content .members .buttons span {
        margin-bottom: 20px;
        color: #6200ee;
        display: block; }
      .content .members .buttons i.fa-plus {
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: #6200ee;
        color: #fff;
        border-radius: 50%;
        margin-right: 10px; }
      .content .members .buttons .btn-primary {
        background-color: #6200ee;
        border-color: #6200ee;
        margin-top: 30px; }
      .content .members .buttons .text-danger span {
        color: #dc3545; }
    .content .members p {
      display: inline;
      margin-right: 20px; }

.clear {
  clear: both; }

.online, .messages {
  float: left;
  text-align: center; }
  .online .online-friend, .messages .online-friend {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 100vh;
    overflow: auto; }
    .online .online-friend .image, .messages .online-friend .image {
      margin-bottom: 20px; }
    .online .online-friend img, .messages .online-friend img {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
    .online .online-friend span.circle, .messages .online-friend span.circle {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #05cf5b; }

.col-sm-9.no-padding {
  padding-right: 0;
  padding-left: 0; }

.inbox .online-friend {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-height: 100vh;
  overflow: auto; }
  .inbox .online-friend:nth-child(odd) {
    background-color: #bb86fc; }
  .inbox .online-friend .image {
    margin-bottom: 20px;
    width: 100px;
    float: left; }
  .inbox .online-friend .username {
    float: left;
    width: calc(100% - 100px); }
  .inbox .online-friend img {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .inbox .online-friend span.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #05cf5b; }
.inbox span.seen {
  color: #007bff; }

/* start chat page */
.chat .content .messages .one-message .txt img, .chat-box .chat .one-message .txt img, .chat .nav-pills .person img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left; }

.chat .main-right {
  width: calc(100% - 500px); }
.chat form.typing.chat {
  margin-top: 20px;
  width: calc(100% - 600px); }
.chat form.typing {
  position: fixed;
  bottom: 0;
  width: calc(100% - 630px); }
  .chat form.typing .emoji-picker-container {
    width: calc(100% - 100px);
    float: left; }
  .chat form.typing .icons {
    margin-top: 10px; }
    .chat form.typing .icons i {
      color: #6200ee;
      margin-left: 10px;
      display: inline-block;
      font-size: 24px; }
  .chat form.typing .input-group-text {
    background-color: #007bff !important;
    color: #fff; }
  .chat form.typing .form-control {
    padding-left: 17px !important;
    border-radius: 25px;
    line-height: 22px; }
  .chat form.typing .emoji-picker-icon {
    right: 17px;
    top: 8px; }
.chat form {
  margin-bottom: 0; }
  .chat form .input-group .input-group-prepend {
    position: absolute;
    left: 20px;
    z-index: 9;
    top: 5px; }
    .chat form .input-group .input-group-prepend .input-group-text {
      border: 0;
      color: #8d8d8e; }
  .chat form .input-group .form-control {
    border-radius: 0;
    padding-left: 60px; }
  .chat form .input-group .input-group-text {
    background-color: transparent; }
.chat .nav {
  border-right: 1px solid #c4c4c4; }
.chat .overflow, .chat .content {
  height: 100vh;
  overflow-y: scroll; }
.chat .nav-pills .nav-link.active, .chat .nav-pills .show > .nav-link {
  color: #333;
  background-color: #ebebeb; }
.chat .nav-pills .nav-link {
  background-color: #f1f1f1;
  padding: 18px 26px 10px;
  border-radius: 0;
  border-bottom: 1px solid #c4c4c4; }
.chat .nav-pills .person .text {
  float: left;
  width: calc(100% - 40px );
  padding: 0 0 0 15px; }
  .chat .nav-pills .person .text h4 {
    text-transform: capitalize;
    font-size: 15px;
    color: #615f5f;
    font-weight: 700;
    margin: 0 0 8px 0; }
    .chat .nav-pills .person .text h4 span {
      float: right; }
  .chat .nav-pills .person .text p {
    font-size: 14px;
    color: #989898;
    margin: auto; }
.chat .nav-pills .person .right {
  float: right;
  font-weight: 600; }
.chat .content .messages {
  margin-right: 30px;
  margin-top: 30px;
  padding-bottom: 40px; }
  .chat .content .messages .recieved .details {
    float: left;
    width: 40%; }
  .chat .content .messages .sent .details {
    float: right;
    width: 60%; }
.chat .content .image-attachment {
  border: 1px solid #ddd;
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 20px; }
  .chat .content .image-attachment img {
    width: 200px !important;
    height: 200px !important;
    border-radius: 0 !important; }
.chat .content .emoji {
  overflow: hidden;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  padding: 10px;
  float: left;
  background-color: #bb86fc; }
.chat p.purple {
  color: #6200ee;
  text-align: left; }
  .chat p.purple span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: #6200ee;
    background-color: #6200ee;
    display: inline-block; }

#displayImage img {
  width: 100%;
  height: 100%; }
#displayImage .btn.btn-primary {
  background-color: #6200ee;
  border-color: #6200ee; }

/* End chat page */
/* Star chat box    */
.chat-area {
  position: fixed;
  bottom: 0;
  height: 385px; }

.chat-box {
  width: 330px;
  height: 385px;
  border: 1px solid #ddd;
  background-color: #fff;
  float: right;
  z-index: 9; }
  .chat-box .chat-header {
    padding: 5px;
    background-color: #007bff;
    overflow: hidden;
    color: #fff;
    cursor: pointer; }
    .chat-box .chat-header p {
      margin-bottom: 0; }
    .chat-box .chat-header p.left {
      float: left; }
    .chat-box .chat-header p.right {
      float: right;
      font-weight: 600; }
      .chat-box .chat-header p.right span.minmize {
        margin-right: 10px;
        cursor: pointer; }
      .chat-box .chat-header p.right span.close-chat {
        margin-right: 10px;
        cursor: pointer; }
  .chat-box .chat {
    height: 330px;
    overflow: auto; }
    .chat-box .chat .one-message .txt .details {
      margin-right: 15px; }
    .chat-box .chat form {
      position: fixed;
      bottom: 0; }
      .chat-box .chat form input {
        width: 330px;
        padding-left: 20px;
        padding-right: 20px; }

.clear {
  clear: both; }

/*  End chat box   */
.top {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #eee; }
  .top h2.title {
    float: left;
    width: 40%; }
  .top .single-chat {
    width: 40%;
    float: left; }
    .top .single-chat img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 10px; }
    .top .single-chat span.name {
      color: #6200ee;
      font-weight: 700; }
  .top .call {
    float: left;
    color: #6200ee;
    font-size: 24px;
    cursor: pointer; }
    .top .call i.fa-phone {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      margin-right: 10px; }

.settings {
  margin-top: 20px; }
  .settings i.fa-pencil {
    cursor: pointer; }
  .settings form .form-control {
    width: 90%;
    display: inline-block; }
  .settings form i {
    float: right;
    margin-top: 10px;
    color: #6200ee; }
  .settings form .btn {
    background-color: #6200ee;
    border-color: #6200ee; }

.emoji-menu {
  top: -229px; }

/*# sourceMappingURL=style.css.map */
